.mainDiv {
}

.title {
  font-size: 3rem;
  font-weight: 700;
  width: fit-content;
  padding-left: 20px;
  border-bottom: 2px solid white;
}

.myDetail {
    text-align: justify;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
