#home {
  min-height: 550px;
}

.mainDiv {
  display: flex;
  flex-direction: column;
  margin: 5rem 2rem;
}

.hi {
  font-size: 20px;
  color: #2dd4bf;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
}

.nameJobDiv {
  font-weight: 700;
  margin-bottom: 20px;
}

.name {
  font-size: 30px;
}

.job {
  font-size: 24px;
  color: rgb(162, 162, 174);
}

.description {
  font-size: 13px;
  /* text-align: justify; */
  color: rgb(162, 162, 174);
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
}

/* Desktop Breakpoint */
@media (min-width: 768px) {
  .mainDiv {
    width: 60%;
    margin: 3rem auto;
  }
.name {
  font-size: 72px;
}

.job {
  font-size: 48px;
  color: rgb(162, 162, 174);
}
  .description {
    font-size: 18px;
    width: 60%;
  }
}
