#home {
    min-height: 550px;
    padding-bottom: 9rem;
}
.mainDiv {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 3rem auto;
}
.hi {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
            Liberation Mono, Courier New, monospace;
  font-size: 20px;
  color: #2dd4bf;
}

.nameJobDiv {
    
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.job {
        color: rgb(162, 162, 174);
}

.description {
  display: flex;
  justify-content: center;
color: rgb(162, 162, 174);
  width: 60%;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
}
