#home {
  min-height: 450px;
}

.mainDiv {
  display: flex;
  flex-direction: column;
  margin: 5rem 2rem;
}

.mobileMenu {
  overflow-x: hidden;
  position: fixed;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  background-color: #112340;
  float: right;
  top: 0;
  right: 0;
  padding: 15px;
  row-gap: 20px;
}

.mobileMenu button {
  display: flex;
  background-color: inherit;
  color: white;
  border: none;
  font-size: 23px;
  width: fit-content;
  cursor: pointer;
  float: left;
}

.mobileMenu button span {
  color: #2dd4bf;
}

.mobileMenuItems {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  cursor: pointer;
}

.mobileMenuItems a {
  color: #fff;
  font-size: 20px;
  text-decoration-line: none;
}

#resume {
  width: 30%;
  text-align: center;
  padding: 5px 10px;
  margin-left: 50px;
  border-radius: 5px;
  outline: #2dd4bf solid 3px;
}

.hi {
  font-size: 20px;
  color: #2dd4bf;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
}

.nameJobDiv {
  font-weight: 700;
  margin-bottom: 20px;
}

.name {
  font-size: 30px;
}

.job {
  font-size: 24px;
  color: rgb(162, 162, 174);
}

.description {
  font-size: 13px;
  /* text-align: justify; */
  color: rgb(162, 162, 174);
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
}

@media (min-width: 568px) {
  .mainDiv {
    width: 70%;
    margin: 3rem auto;
  }

  .name {
    font-size: 38px;
  }
  .job {
    font-size: 30px;
    color: rgb(162, 162, 174);
  }

  .description {
    font-size: 16px;
  }
}
/* Tablet Breakpoint */
@media (min-width: 768px) {
  .mainDiv {
    width: 70%;
    margin: 3rem auto;
  }
  .name {
    font-size: 50px;
  }

  .popup {
    display: none;
  }

.mobileMenu {
  display: none;
}

  .job {
    font-size: 48px;
    color: rgb(162, 162, 174);
  }
  .description {
    font-size: 17px;
    width: 80%;
  }
}
@media (min-width: 1024px) {
  .mainDiv {
    width: 70%;
    margin: 3rem auto;
  }

  .hi {
    font-size: 24px;
    color: #2dd4bf;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
      Liberation Mono, Courier New, monospace;
  }

  .name {
    font-size: 64px;
  }

  .popup {
    display: none;
  }

  .job {
    font-size: 55px;
    color: rgb(162, 162, 174);
  }
  .description {
    font-size: 18px;
    width: 80%;
  }
}
/* Normal Desktop break point */
@media (min-width: 1300px) {
  #home {
    min-height: 500px;
  }
  .mainDiv {
    width: 70%;
    margin: 3rem auto;
  }
  .name {
    font-size: 72px;
  }

  .hi {
    font-size: 28px;
    color: #2dd4bf;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
      Liberation Mono, Courier New, monospace;
  }

  .popup {
    display: none;
  }

  .job {
    font-size: 64px;
    color: rgb(162, 162, 174);
  }
  .description {
    font-size: 20px;
    width: 80%;
  }
}
