.title {
  font-size: 1.3rem;
  font-weight: 700;
  width:fit-content;
  padding-left: 20px;
  border-bottom: 2px solid white;
  margin-top: 6rem;
  margin-bottom: 2rem;
}

@media(min-width: 768px) {
  .title {
      font-size: 2rem;
      font-weight: 700;
      width: fit-content;
      padding-left: 20px;
      border-bottom: 2px solid white;
      margin-top: 6rem;
    }
}
@media(min-width: 1024px) {
  .title {
      font-size: 2.5rem;
      font-weight: 700;
      width: fit-content;
      padding-left: 20px;
      border-bottom: 2px solid white;
      margin-top: 6rem;
    }
}
@media(min-width: 1300px) {
  .title {
      font-size: 2.8rem;
      font-weight: 700;
      width: fit-content;
      padding-left: 20px;
      border-bottom: 2px solid white;
      margin-top: 6rem;
    }
}


