.subTitle {
  text-align: center;
  color: #abb0af;
  text-decoration: underline;
  font-family: 'Lobster', cursive;
}

.skillsContainer {
  display: grid;
  margin: 20px auto;
  grid-template-columns: 50% 50%;
}

.skills {
  color: rgb(203, 205, 208);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #112340;
  border: 1px solid black;
  border-radius: 8px;
  margin: 5px;
  min-height: 50px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

.skills svg {
  fill: #2dd4bf;
  margin-right: 3px;
}

/* Landscape Mobile Break Point */
@media (min-width: 568px) {
  .skills {
    color: rgb(203, 205, 208);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #112340;
    border: 1px solid black;
    border-radius: 8px;
    margin: 5px;
    min-height: 50px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
  }
}

/* Tablet Break Point */
@media (min-width: 768px) {
  .mainContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 10px;
    padding: 10px;
    text-align: center;
    column-gap: 10px;
    row-gap: 10px;
  }

  .subTitleSkillContDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border: 3px solid #112340;
  }

  .skillsContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 10px;
  }

  .skills {
    color: rgb(203, 205, 208);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #112340;
    border-radius: 8px;
    margin: 5px;
    min-width: 170px;
    min-height: 50px;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
  }
}

/* Laptops break Point */
@media(min-width: 1024px) {
  .skills {
    font-size: 18px;
  }
}

/* Normal Desktop breakPoint */
@media(min-width: 1300px) {
  .mainContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 10px;
    padding: 10px;
    text-align: center;
    column-gap: 10px;
    row-gap: 10px;
  }

  .skills {
    font-size: 19px;
  }

  .subTitleSkillContDiv {
    display: flex;
    flex-direction: column;

   
    margin-top: 10px;
    padding-top: 10px;
    border: 3px solid #112340;
  }
}