.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  padding: 10px;
}

.logoContainer {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
  font-style: italic;
  color: #2dd4bf;
}

.logoContainer a {
  text-decoration-line: none;
  color: #2dd4bf;
}

#navBar {
  display: none;
}

.menuBtnDiv {
  border: 1px #2dd4bf solid;
  text-align: center;
  border-radius: 6px;
  min-width: 40px;
  cursor: pointer;
}

.MenuBtn {
  width: 100%;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.MenuBtn svg {
  fill: #2dd4bf;
  min-width: 30px;
}

@media (min-width: 768px) {
  #navBar {
    display: flex;
    align-self: flex-end;
    column-gap: 25px;
  }

  #navBar a {
    color: #fff;
    font-size: 15px;
    text-decoration-line: none;
  }

  #resume {
    padding: 5px 10px;
    margin-left: 20px;
    border-radius: 5px;
    outline: #2dd4bf solid 3px;
  }
  .menuBtnDiv {
    display: none;
  }
}
/* Laptops Break Point */
@media (min-width: 1024px) {
  #navBar a {
    color: #fff;
    font-size: 18px;
    text-decoration-line: none;
  }

  .logoContainer a {
    text-decoration-line: none;
    color: #2dd4bf;
    font-size: 20px;
  }
}
/* Normal Desktop break point */
@media (min-width: 1300px) {
  #navBar a {
    color: #fff;
    font-size: 24px;
    text-decoration-line: none;
  }

  .logoContainer a {
    text-decoration-line: none;
    color: #2dd4bf;
    font-size: 24px;
  }
}
