.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 70px;
  /* box-shadow: 0.5px 0.5px  white; */
}

.logoContainer {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
  font-style: italic;
  color: #2dd4bf;
}

.logoContainer a {
  text-decoration-line: none;
  color: #2dd4bf;
}
#navBar {
  display: none;
}

.menuBtnDiv {
  border: #2dd4bf solid;
  text-align: center;
  border-radius: 10px;
  width: 40px;
  padding: auto 10px;
  margin: auto;
}
.MenuBtn {
  border: none;
}

.SlMenuDiv svg {
  width: 30px;
  background-color: #2dd4bf;
  color: #2dd4bf;
}

@media (min-width: 768px) {
  #navBar {
    display: flex;
    align-self: flex-end;
    column-gap: 25px;
  }

  #navBar a {
    color: #fff;
    font-size: 20px;
    text-decoration-line: none;
  }

  #resume {
    padding: 5px 10px;
    margin-left: 50px;
    border-radius: 5px;
    outline: #2dd4bf solid 3px;
  }
  .menuBtnDiv {
    display: none;
  }
}
